.containerBox{
    height: 100%;
    overflow-y:scroll ;
    overflow-scrolling: touch;
    width: 100%;
    position: absolute;
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #F5f5f5;
}
/*没有加入组织*/
.masksDisplay {
    background: rgba(0,0,0,0.50);
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.masksnone {
    display: none;
}
.masksPrompt {
    width: 75%;
    height: 4rem;
    line-height: 4rem;
    margin: 72% auto;
    font-size: 1.33rem;
    color: #333333;
    text-align: center;
    border-radius: 1rem ;
    background: #FFFFFF;
    font-family: PingFangSC-Regular;
}
.app{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
}
.app .maskFixed {
    height: 21.92rem;
    width: 100%;
    background-color: #F5f5f5;
    overflow: hidden;
}
.topSearch {
    width: 100%;
    height: 3.67rem;
    background: #F5f5f5;;
    overflow: hidden;
}
.search {
    position: relative;
    width: 95%;
    height: 2.33rem;
    line-height: 2.33rem;
    margin:  0.67rem auto;
    border-radius: 0.166rem;
    cursor: pointer;
    border: 1px solid  #E1E1E1;
    background-color: #ffffff;
    overflow: hidden;
    text-align: center;
}
.search span:first-child{
    vertical-align: middle;
    display: inline-block;
    position: relative;
    font-family: PingFangSC-Regular;
    font-size: 1.17rem;
    color: #999999;

}
.upStreams,.travalStreams,.downStreams {
    cursor: pointer;
}

.search span:first-child img{
    position: absolute;
    top: 0.6rem;
    width: 1.17rem;
    height:1.17rem;
    left: -1rem;

}

.appheader{
    height: 8.25rem;
    width: 100%;
    z-index: 2;
    margin: 0rem auto;
    background-color: #FFFFFF;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}
.appheader a {
    cursor: pointer;
}
.appheader [class$='Streams']{
      position: relative;
      height: 8.25rem;
      width: 33%;
      float: left;
      text-align: center;
}
.appheader [class$='Streams'] span {
     position: absolute;
     width: 1px;
     background: #e1e1e1;
     height: 3.83rem;
     top:2.25rem ;
     left: 103%;
}
.appheader .downStreams {
    border: 0rem;
}
.appheader [class$='Stream'] {
    margin: 0 auto;
    width: 3.33rem;
    height: 3.33rem;
    margin-top: 1.5rem;
    margin-bottom:1rem ;
}

.appheader  [class$='Stream']  img {
      width: 99%;
      height: 99%;
}

.appheader a{
    color: black;
    line-height: 0rem;
    font-size: 1.17rem;
    color: #333333;
}

.carousel{
    width: 100%;
    height: 5.25rem;
    margin-top: 0.67rem;
    margin-bottom: 0.67rem;
    box-sizing: border-box;
    overflow: hidden;
}
.recomConent {
    background-color: #f5f5f5;
    overflow: hidden;
}
.recommend {
    width: 100%;
    height: 3.25rem;
    background-color: #FFFFFF;
    line-height: 3.33rem;
    color: #999999;
    font-size: 1.17rem;
    border-top:1px solid  #E1E1E1 ;
    text-indent: 0.68rem;
}
.recommend span:first-child{
    display: block;
    float: left;
    width: 0.14rem;
    height: 3.33rem;
    background-color: #3399E2 ;
}
.recommend span:last-child {
    margin-left: 0.83rem;
}
.recom {
    width: 100%;
    height: 1.875rem;
}

.isLoading {
    width: 100%;
    height:1.25rem;
    position: absolute;
    top: 20.5rem;
    left: 50%;
   transform: translate(-50%,-50%);
}

.isLoading img {
    width: 40px;
    height:40px;
    margin: 0 auto;
    animation: rotate  1s linear infinite;
}

.internet {
    width: 100%;
    height:100%;
}
.internet .internetImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 16rem;
    height:16rem;
    margin: 0 auto;
    text-align: center;
}
.internet img {
    width: 8rem;
    height:8rem;
    margin: 0 auto;
}
.internet span {
    font-family: PingFangSC-Regular;
    font-size: 1.33rem;
    color: #999;
}

/*推荐20条样式*/
.recomConented {
    border-top: 1px solid #E1E1E1;
    /*  height: calc(100% - 0.004rem);*/
    background-color: #f5f5f5;
    /*  overflow-y: scroll;*/
    overflow-scrolling: touch;

}
.recomConented .RecomComponent {
    width: 100%;
    height: 5.29rem;
    position: relative;
    /* overflow: hidden;*/
    background-color: #ffffff;
}
.RecomComponent .componentImage{
    width: 3.33rem;
    height: 3.33rem;
    box-sizing: border-box;
    background-size: 3.33rem 3.33rem;
    margin-left: 1rem;
    margin-top: 1rem;
    display: inline-block;
    float: left;
}
.RecomComponent span{
    float: left;
    display: block;
    box-sizing: border-box;
    margin-left:1rem;
    margin-top: 1.1rem;
    color: #333333;
    font-size: 1.33rem;
}
.RecomComponent .address {
    box-sizing: border-box;
    position: absolute;
    top: 3.1rem;
    left:6.33rem;
    color: #999999;
    font-size: 1rem;
    overflow: hidden;
    whiteSpace:nowrap;
    text-overflow: ellipsis;
}
.RecomComponent b {
    box-sizing: border-box;
    display: block;
    width: 0.67rem;
    height: 0.83rem;
    position: absolute;
    background: url("../../images/positionOne.png") no-repeat center center;
    background-size: 0.67rem 0.83rem;
    top: 3.34rem;
    left: 5.33rem;
}
.RecomComponent .classBorder {
    position: absolute;
    bottom: 0rem;
    width:30.25rem;
    margin-left:1rem;
    height: 1px;
    background-color:#e1e1e1 ;
}
.RecomComponent .classBorderAll {
    position: absolute;
    bottom: 0rem;
    width:100%;
    height: 1px;
    background-color:#e1e1e1 ;
}

.noneOrginRecom{
    width: 100%;
    padding-top: 6rem;
}
.noneOrginRecom   .noneOrginImage {
    text-align: center;

}
.noneOrginRecom .noneOrginImage  img{
    display: block;
    width: 8.33rem;
    height: 7.5rem;
    margin: 0 auto;
}
.noneOrginRecom .noneOrginImage span {
    font-size: 1.33rem;
    text-align: center;
    padding-top: 1.6rem;
    color: #999999;
}
/*正在加载数据*/
.isLoadingwaitFlage {
    width: 100%;
    box-sizing: border-box;
    height:1.25rem;
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    display: none;
    transform: translate(-50%,-50%);
}
.isLoadingwaitFlage img {
    width: 40px;
    height:40px;
    box-sizing: border-box;
    margin: 0 auto;
    animation: rotate  1s linear infinite;
}

@keyframes rotate {
    from   {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


