

/*左侧导航栏内 toggle   */
.left_Level{
    box-sizing:border-box;
    width: 100%;
}

.left_Level a{
    color:#333;
    text-decoration:none;
    display:inline-block;
    margin:0;
    padding:0;
    width:5.416rem;
    text-indent:0;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}


.left_Toggle_Header{
    text-indent:2.041rem;
    cursor:pointer;
    margin:0rem;
    padding:0rem;
    line-height:1.5rem;
    height:1.5rem;
    transition:all 0.5s;
    box-sizing: border-box;
    font-size:5.146rem;
    color:#333;

}
.left_But_Active{
    background:#E2E0DB;
}
.left_Toggle_Header:hover{
    background:#E2E0DB;
}

.left_Toggle_Text{
    cursor:pointer;
    margin:0;
    line-height:1.5rem;
    height:1.5rem;
    transition:all 0.5s;
    box-sizing:border-box;
    font-size:0.5rem;
    text-indent: 2.708rem;
    overflow: hidden;
    display:block;
    white-space:nowrap;
    text-overflow:ellipsis;
 }
.left_Toggle_Text:hover{
    background:#E2E0DB;
}

.left_Padding_16{
    padding-left:0.667rem;
}


/*左侧导航栏 icon 样式*/
.left_Icon{
    display:inline-block;
    top: 0px;
    padding-top: 1.5rem;
    cursor:pointer;
}
/*多列菜单*/


